/.emacs.d/vendor/
/.emacs.d/elpa/
/.emacs.d/auto-save-list/
/.emacs.d/url/
/.emacs.d/bookmarks
/.emacs.d/tramp
/.emacs.d/.cask
/.emacs.d/.ehist
/*~
.DS_Store
/.emacs.d/TAGS
/.emacs.d/.*/
/.emacs.d/.*
/.emacs.d/*.cache
/.emacs.d/recentf
/.emacs.d/init.elc
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/transient/history.el
/.emacs.d/custom.el
